html, body {
  overflow: hidden;
  margin: 0px;
  height: 100vh;
  width: 100vw;
  font-family: lato, sans-serif;
}
body{
  background: #4F2A87 url("./assets/bg.png") no-repeat fixed center;
}

#app {
  width: 100vw;
  height: 100vh;
  display: block;
}


.modal {
  display: flex;
  position: absolute;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.8);
  align-items: center;
  justify-content: center;
  flex-direction: column;
  left:0
}
.modal-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0078d0;
  border: 0;
  color: #fff;
  font-family: 'Fredoka One',system-ui,"Segoe UI",Roboto,Ubuntu,"Helvetica Neue",sans-serif;
  font-size: 18px;
  font-weight: 600;
  outline: 0;
  position: relative;
  text-align: center;
  overflow: hidden;
  width: 90%;
  max-width: 400px;
  border-top-left-radius:10px ;
  border-top-right-radius:10px ;
  padding: 10px 10px;
  box-sizing: border-box;
  z-index: 100000;
}
.modal-header:before {
  background-color: initial;
  background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
  border-radius: 0px;
  content: "";
  height: 50%;
  left: 0%;
  opacity: .5;
  position: absolute;
  top: 0;
  width: 100%;
}

.empty-space{
  opacity: 0;
}
.modal-body {
  width: 90%;
  max-width: 400px;
    height: 200px;
  background-color: #4F2A87;
  box-shadow:
    inset 10px 0 150px #f0f,  /* left magenta */
    inset -10px 0 150px #0ff; /* right cyan */
  /* margin-top: -100px; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  overflow-y: auto;
  z-index: 100000;
}
.modal-bottom{
  background-color: #0078d0;
  display: inline-block;
font-size: 16px;
  font-weight: 600;
  outline: 0;
  position: relative;
  width: 90%;
  max-width: 400px;
  height: 30px;
  border-bottom-left-radius:10px ;
  border-bottom-right-radius:10px ;
}
.modal-bottom:before {
  background-color: initial;
  background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
  border-radius: 0px;
  content: "";
  height: 100%;
  left: 0%;
  opacity: .5;
  position: absolute;
  bottom: 0;
  width: 100%;
  border-bottom-left-radius:10px ;
  border-bottom-right-radius:10px ;
}

.button {
  background-color: #0078d0;
  border: 0;
  border-radius: 56px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: system-ui,-apple-system,system-ui,"Segoe UI",Roboto,Ubuntu,"Helvetica Neue",sans-serif;
  font-size: 18px;
  font-weight: 600;
  outline: 0;
  padding: 16px 21px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 8px;
  box-shadow: rgba(255, 255, 255, .2) 0 3px 15px inset, rgba(0, 0, 0, .1) 0 3px 5px, rgba(0, 0, 0, .1) 0 10px 13px;
  transform: scale(1.05);
}

.button:before {
  background-color: initial;
  background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
  border-radius: 125px;
  content: "";
  height: 50%;
  left: 11%;
  opacity: .5;
  position: absolute;
  top: 0;
  transition: all .3s;
  width: 76%;
}

.button:hover {
  box-shadow: rgba(255, 255, 255, .2) 0 3px 15px inset, rgba(0, 0, 0, .1) 0 3px 5px, rgba(0, 0, 0, .1) 0 10px 13px;
  transform: scale(1.05);
}

@media (min-width: 768px) {
  .button {
    padding: 16px 48px;
  }
}

#pauseGameButton{
  right:0;
  position: absolute;
  margin: 20px;
  display: block;
  z-index: 1;
}

.current-coins-scores-container{
  position: absolute;
  z-index: 2;
  color: rgb(50, 1, 107);
  margin-left: 6px;
}

.main-menu-container{
  position: absolute;
  z-index: 2;
  justify-content: center;
  width: 100%;
  align-items: center;
  bottom: 0px;
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
}

.car-selection-container{
  flex-direction: column;
  position: absolute;
  bottom: 0;
  align-items: center;
  justify-content: center;
  width: 100%;
  z-index: 2;
  display: flex;
}


.car-selection-buttons {
  display: flex;
  
  bottom: 6px;
  display: flex;
  align-items: center;
  justify-content: center;


}
.car-selection-buttons h2{
  color:#fff;
  margin: 0 20px;
  display: block;
  padding:10px 20px;
  background-color: #0079d08a;
}

#selectCarBtn{
  display: none;
}
#carPriceBtn {
  display: block;
}

.home-menu{
  right:0;
  position: absolute;
  margin: 20px 10px;
  display: block;
  z-index: 2;
}